body {
 margin: 0;
 padding: 0; 
}
header {
  display: block;
  position: relative;
  }

/* General */
.container {
  margin: 100px auto 0 auto;
  }
.color2 {
  color: #6c757d;
  }

/* Carousel */
.carousel {
    margin-top: 55px;
    position: relative;
    }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    }
  .carousel-item {
    height: 550px;
    }
  .carousel-item h5 {
    font-size: 50px;
    }
  .carousel-item p {
    font-size: 20px;
    }

/* Articles */
.article {
    margin: 50px 0;
    padding: 100px 0 50px 0;
    border-top: 1px gray dashed;
    }
  .article h2 {
    margin: 120px 0 10px 0;
    font-size: 55px;
    line-height: 50px;
    color: #5a5a5a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  .article p {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  .article img {
    width: 450px;
    height: 450px;
    }

/* Footer */
footer.container {
  margin: 50px auto;
  padding-top: 50px;
  border-top: 1px gray dashed;
  }