body {
 margin: 0;
 padding: 0; 
}
header {display: block;position: relative;}
main {background-color: green}

/* General */
.container {
    margin: 40px auto;
}

/* Carousel */
.carousel {
    margin-top: 55px;
    position: relative;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item {
    height: 550px;
  }
  .carousel-item h5 {
    font-size: 50px;;
  }
  .carousel-item p {
    font-size: 20px;;
  }
  /* Carousel */